body {
  margin: 1px;
  padding: 2px;
  display: flex;
  justify-content: center;
  color: rgba(133, 46, 9, 0.847);
  height: 100%;
  width: 100%;
}
.coverPage{
  margin: 1;
  padding:1;
  font-family: 'cursive';

}
.pageDesc{
  position: relative;
  left:590px;
} 
.firstRow{
  position:relative;
  right:150px;
}
.secondRow{
  position: relative;
  top: 15px;
  color:rgb(116, 117, 148);
}                      
.searchField{
  position:relative;
  right: 20px;
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
button{
padding: 2;
font-size: 16px;
position: relative;
top:2px;
background-color: #008CBA;
color: rgb(89, 92, 77);
}






